/* General styling */
body {
    font-family: "Ubuntu", sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
    color: #333;
}

header nav {
    background-color: #333;
    padding: 1rem;
    text-align: center;
}

header nav a {
    color: #fff;
    text-decoration: none;
    margin: 0 15px;
}

header nav a:hover {
    color: #ffd700;
}

/* Features Page */
.features-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 2rem;
}

.feature-card {
    background-color: #fff;
    width: 290px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    text-align: center;
}

.feature-card h2 {
    color: #333;
    font-size: 1.2rem;
    /* margin: 0.5rem 0; */
    padding: 5px 20px 0px 20px;
}

.feature-card p {
    color: #666;
    font-size: 0.9rem;
    padding: 0px 20px 20px 20px;
}

/* Contact Page */
.contact-form-container {
    display: flex;
    justify-content: center;
    padding: 2rem;
}

.contact-form-container form {
    background-color: #fff;
    padding: 20px;
    width: 400px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.contact-form-container label {
    display: block;
    margin-bottom: 5px;
    color: #333;
    font-size: 0.9rem;
}

.contact-form-container input,
.contact-form-container textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 0.9rem;
}

.contact-form-container button {
    width: 100%;
    padding: 10px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
}

.contact-form-container button:hover {
    background-color: #ffd700;
}

/* Footer */
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1rem;
    position: relative;
    bottom: 0;
    width: 100%;
    position: fixed;
    bottom: 0;
}

main {
    margin-bottom: 100px;
}